
//@theme "/home/oli/.config/rofi/themes/adwaita.rasi"

//@theme "/home/oli/.config/rofi/themes/adwaita-xfce-dark.rasi"

//@theme "/home/oli/.config/rofi/themes/adwaita-xfce-dark.rasi"

//@theme "/home/oli/.config/rofi/themes/adwaita-xfce-dark.rasi"

@theme "/home/oli/.config/rofi/themes/adwaita-xfce.rasi"
